<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css?family=Lato:300,300i,700"
    />
    <title>Home | OMS</title>
    <script
      type="text/javascript"
      src="http://gc.kis.v2.scr.kaspersky-labs.com/FD126C42-EBFA-4E12-B309-BB3FDD723AC1/main.js?attr=7EB0AgWqp5sKexXE1kO2O7P5RmUWi6-2J0sN27Zg0mnPP9BLDG4Goi9uY1nO6bSy"
      charset="UTF-8"
    ></script>
    <link
      rel="stylesheet"
      crossorigin="anonymous"
      href="http://gc.kis.v2.scr.kaspersky-labs.com/E3E8934C-235A-4B0E-825A-35A08381A191/abn/main.css?attr=aHR0cDovL2xvY2FsaG9zdDo4MDgwL2hvbWU"
    />
    <link rel="stylesheet" href="../css/style.css" />
  </head>
  <body>
    <nav class="nav">
      <ul>
        <li><a href="/home" class="active">Home</a></li>
        <li><a href="/list">View</a></li>
      </ul>
    </nav>
    <div class="pageContent">
      <!-- Content-->
      <h1>Add Order</h1>
      <form>
        <label for="product">Product Name</label
        ><input type="text" id="product" name="product" /><label for="quantity"
          >Quantity</label
        ><input type="number" id="quantity" name="quantity" /><label
          for="company"
          >Company Name</label
        ><input type="text" id="company" name="company" /><input
          type="submit"
          id="addOrder"
          value="Add Order"
        />
      </form>
    </div>
    <script src="/js/bundle.js"></script>
  </body>
</html>
