<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css?family=Lato:300,300i,700"
    />
    <title>list | OMS</title>
    <script
      type="text/javascript"
      src="http://gc.kis.v2.scr.kaspersky-labs.com/FD126C42-EBFA-4E12-B309-BB3FDD723AC1/main.js?attr=97YKesQxsYi4Fy3nWtbjhNTjMf1PjLMjVtxYq21FWEnvu16S_rVqa4uT9fjdlpdQ"
      charset="UTF-8"
    ></script>
    <link
      rel="stylesheet"
      crossorigin="anonymous"
      href="http://gc.kis.v2.scr.kaspersky-labs.com/E3E8934C-235A-4B0E-825A-35A08381A191/abn/main.css?attr=aHR0cDovL2xvY2FsaG9zdDo4MDgwL2xpc3Q"
    />
    <link rel="stylesheet" href="../css/style.css" />
  </head>
  <body>
    <div class="pageContent">
      <!-- Content-->
      <h1>View Orders</h1>
      <table class="orderTable">
        <tr>
          <th>OrderNo</th>
          <th>Product</th>
          <th>Quantity</th>
          <th>Company</th>
        </tr>
        <tr>
          <td>1</td>
          <td>Laptop</td>
          <td>2</td>
          <td>ABC</td>
        </tr>
        <tr>
          <td>2</td>
          <td>zxc</td>
          <td>2</td>
          <td>DD</td>
        </tr>
        <tr>
          <td>3</td>
          <td>T-shirt</td>
          <td>2</td>
          <td>Qburst</td>
        </tr>
      </table>
    </div>
    <script src="/js/bundle.js"></script>
  </body>
</html>
